source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Core >= 6.0 lowest_matching: true, redirects: force

# Testing
nuget Expecto
nuget FsCheck
nuget Expecto.FsCheck
